<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="style.css" />
	<link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
	
	<title>Travel App</title>
</head>

<body>
	<main id="auth">
        <h1 class="auth">Sign up</h1>
		<form id="signin" action="https://youtu.be/b4XpMTUlorc?si=3G-WCbRaVtLvnBFS">
            <p>Full Name</p>
			<input type="text" placeholder="Cody Fisher" class="fullName"> <br>

            <p>Email</p>
			<input type="email" placeholder="kenzi.lawson@example.com" class="email"> <br>

            <p>Password</p>
			<input type="password" placeholder="Your secure password" class="password">

            <p>Repeat Password</p>
			<input type="password" placeholder="Repeat your password" class="password">

			<input type="submit" id="submit" value="Sign up"/>
		</form>
	</main>
</body>

</html>  