body{
    background-color: #FFFCE6;
    width: 80%;
    margin: 35px auto;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #F6F4ED;
}

::placeholder {
    color: black;
    font-size: 14px;
  }

/*mobile version*/
@media only screen and (max-width: 480px) {
    /*home page*/
    nav{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    nav a + a{
        margin-left: 20px;
    }

    .smaller_img{
        padding: 5px 0;
    }

    main{
        margin-top: 20px;
    }

    main #search #destination{
        background-color: #FFFCE6;
        width: 100%;
        padding: 14px 0;
        border-radius: 20px;
        border-style: solid;
        text-align: center;
        border-width: 2px;
        margin-bottom: 2px;
    }

    main #search div{
        display: flex;
    }

    main #search #dates{
        background-color: #FFFCE6;
        width: 50%;
        padding: 14px 0;
        border-radius: 20px 0 0 20px;
        border-style: solid;
        text-align: center;
        border-width: 2px 1px 2px 2px;
    } 

    main #search #people{
        background-color: #FFFCE6;
        width: 50%;
        padding: 14px 0;
        border-radius: 0 20px 20px 0;
        border-style: solid;
        text-align: center;
        border-width: 2px 2px 2px 1px;
    }

    main #search #submit{
        display: block;
        margin: 10px auto;
        width: 60%;
    }
}